/* ajustando a configurações da seção intro */
.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

/* ajustando a configurações da seção top 3 */

.top3-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* ajustando a configurações da seção grid one */

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    /* criando um contador grid-counter */
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

/* Colocando um número estilizado como pseudo elemento 
usando um contador em css */
.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    /* Como ele vai ser um position absolute é necessário
    ter um container segurando ele, logo o container que tiver ele
    deve ter um position relative, assim, ele será absoluto em relação
    ao pai e não a root */
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    /* rotacinado o elemento */
    transform: rotate(5deg);
}